@import '../../stylesheets/colors';

body, html {
  background-color: #f4f8fb; 
  height: 100%;
}
h1 {
  font-weight: 700;
}
.spinning.glyphicon {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

.Login, .Signup {
  color: $primary-font;
  padding-top: 50px;
  h1 {
    font-size: 20px;
    font-weight: 500;
  }
  p {
    font-size: 16px;
  }
  form {
    max-width: 375px;
    margin: auto;
    margin-top: 30px;
  }
  input {
    border-radius: 22.5px;
    height: 45px;
  }
  button {	
    height: 45px;	
    width: 100%;	
    border-radius: 22.5px;	
    background-color: $primary;
    color: white;
    border: none;
    margin: 0px;
    &:hover {
      background-color: $primary;
      color: #fff;
      opacity: 0.8;
    }
  }
}



.Results {
  padding-top: 50px;
  color: $primary-font;
  .DateRangePicker {
    float: right;
    border-radius: 22.5px;
    font-size: 14px;
    border: none;
  }
  .DateInput, .DateInput_input, .DateRangePickerInput__withBorder {
    border-radius: 22.5px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    border: none;
  }
  h1 {
    font-size: 20px;
    font-weight: 500;
  }
  h3 {
    font-size: 16px;
    font-weight: 500;
  }
  h5 {
    font-size: 14px;
    margin-top: 0px;
    font-weight: 500;
    color: $secondary-font;
  }
  p {
    font-size: 14px;
    font-weight: 200;
    color: $secondary-font;
    margin-bottom: 25px;
  }
  table {
    border-radius: 5px;	
    background-color: #FFFFFF;	
    box-shadow: 0 2px 4px 0 #D7E0E7;
    font-size: 12px;
  }
}

.Leaderboards {
  padding-top: 15px;
}

.second-btn {	
  height: 40px;	
  width: 124px;	
  border-radius: 19px;	
  background-color: $primary;
  font-size: 12px;
  font-weight: 500;
  color: white;
  line-height: 40px;	
  text-align: center;
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 0.8;
  }
}

.edit {
  margin-left: 5px;
  position: relative;
  bottom: 2px;
  cursor: pointer;
}

.Templates {
  padding-top: 50px;
  h1 {
    font-size: 20px;
    font-weight: 500;
    
  }
  .template-card {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 #D7E0E7;
    padding-bottom: 10px;
    min-height: 250px;
    margin-bottom: 15px;
    h4 {
      font-size: 12px;
      border-bottom: 1px solid #EBEEF3;
      padding: 20px 15px;

      .edit {
        margin-left: 15px;
        position: relative;
        bottom: 2px;
        cursor: pointer;
      }

      span {
        position: relative;
        bottom: 7px;
      }
    }
    .delete {
      background-color: #EAF1F7;
      border-radius: 30px;
      height: 30px;
      width: 30px;
      float: right;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      margin-top: 0px;
    }
    .inner-card {
      border-radius: 10px;
      border: 1px solid #EBEEF3;
      margin: 20px;
      margin-bottom: 10px;
      padding: 20px 15px;
      overflow: scroll;
      max-height: 200px;
      h5 {
        font-size: 12px !important;
        margin-top: 0px;
      }
      p {
        color: #536476; 
      }
    }
  }
}

.template-card {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 #D7E0E7;
  padding-bottom: 10px;
  min-height: 250px;
  margin-bottom: 15px;
  h4 {
    font-size: 12px;
    border-bottom: 1px solid #EBEEF3;
    padding: 20px 15px;

    .edit {
      margin-left: 15px;
      position: relative;
      bottom: 2px;
      cursor: pointer;
    }

    span {
      position: relative;
      bottom: 7px;
    }
  }
  .delete {
    background-color: #EAF1F7;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    float: right;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin-top: 0px;
  }
  .inner-card {
    border-radius: 10px;
    border: 1px solid #EBEEF3;
    margin: 20px;
    margin-bottom: 10px;
    padding: 20px 15px;
    overflow: scroll;
    max-height: 200px;
    h5 {
      font-size: 12px !important;
      margin-top: 0px;
    }
    p {
      color: #536476; 
    }
  }
}

.NewTemplate, .EditTemplate {
  padding-top: 50px;
  h1 {
    font-size: 20px;
    font-weight: 500;
    
    margin-bottom: 25px;
  }
  h5 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 500;
    color: $secondary-font;
  }
  p {
    font-size: 14px;
    font-weight: 200;
    color: $secondary-font;
    margin-bottom: 25px;
  }
  form {
    background: #fff;
    padding: 20px 15px;
    box-shadow: 0 2px 4px 0 #D7E0E7;
    border-radius: 5px;
    label {
      font-size: 12px;
    }
    button {	
      height: 45px;	
      width: 100%;	
      border-radius: 22.5px;	
      background-color: $primary;
      color: white;
      border: none;
      margin: 0px;
      &:hover {
        background-color: $primary;
        color: #fff;
        opacity: 0.8;
      }
    }
  }
}

.Responses {
  padding-top: 50px;
  h1 {
    font-size: 20px;
    font-weight: 500;
  }
  img {
    cursor: pointer;
  }
  .response-card {
    background: #fff;
    box-shadow: 0 2px 4px 0 #D7E0E7;
    margin-bottom: 15px;
    h4 {
      font-size: 12px;
      padding: 0px 15px;
      margin: 0px;
      margin-top: 20px;
      .edit {
        margin-left: 15px;
        position: relative;
        bottom: 2px;
        cursor: pointer;
      }

      span {
        position: relative;
        bottom: 7px;
      }
    }
    .delete {
      background-color: #EAF1F7;
      border-radius: 30px;
      height: 30px;
      width: 30px;
      float: right;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      margin-top: 0px;
      position: relative;
      bottom: 7px;
    }
    .inner-response {
      border-radius: 10px;
      border: 1px solid #EBEEF3;
      margin: 15px;
      padding: 20px 15px;
      overflow: scroll;
    }
  }
  .inner {
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 #D7E0E7;
    font-size: 12px;
    table {
      margin: 0px;
    }
    th, td {
      padding: 15px 30px;
    }
    h5 {
      background-color: rgba(234,241,247,0.4);
      font-size: 12px;
      padding: 30px 30px;
      margin: 0px;
    }
  }
}
.empty-state {
  box-shadow: 0 2px 4px 0 #D7E0E7;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  h1 {
    text-transform: none;
    font-size: 30px !important;
    font-weight: 500;
  }
  p {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 20px;
  }
}
.Contacts {
  padding-top: 50px;
  h1 {
    font-size: 16px;
    
    margin-bottom: 15px;
  }
  table {
    font-size: 12px;
    background-color: #fff;
  }
  th, td {
    padding: 15px !important;
    font-weight: 200;
  }
  p {
    margin: 0;
  }
  li {
    padding: 5px;
    border-radius: 23px;
    font-size: 14px;
    a {
      color: #536476;
    }
 
  }

  .active {
    background-color: #EAF1F7;
    color: #092C4C;
    font-weight: 500;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent !important;
  }
  img {
    margin-right: 5px;
  }
}
.add-btn {	
  height: 45px;	
  line-height: 45px;
  text-align: center;
  width: 100%;	
  border-radius: 22.5px;	
  background-color: $primary;
  color: white;
  border: none;
  display: block;
  max-width: 350px;
  margin: auto;
  &:hover {
    background-color: $primary;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
}

.NewProspects {
  padding-top: 50px;
  h1 {
    font-size: 16px;
    
    margin-bottom: 15px;
  }

  .inner-card {
    border-radius: 10px;
    border: 1px solid #EBEEF3;
    margin: 20px;
    margin-bottom: 10px;
    padding: 5px;
    overflow: scroll;
    max-height: 250px;
    h5 {
      font-size: 12px !important;
      margin-top: 0px;
    }
    p {
      color: #536476; 
    }
  }
  .box {
    box-shadow: 0 2px 4px 0 #D7E0E7;
    background-color: #fff;
    border-radius: 5px;
    h5 {
      border-bottom: 1px solid #EBEEF3;
      padding: 15px;
      margin: 0px;
    }
    h6 {
      padding-left: 15px;
    }
    p {
      padding: 15px;
      margin: 0px;
    }
  }
}


