.Responses {
    padding-top: 50px;
    h1 {
      font-size: 20px;
      font-weight: 500;
    }
    img {
      cursor: pointer;
    }
    .response-card {
      background: #fff;
      box-shadow: 0 2px 4px 0 #D7E0E7;
      margin-bottom: 15px;
      h4 {
        font-size: 12px;
        padding: 0px 15px;
        margin: 0px;
        margin-top: 20px;
        .edit {
          margin-left: 15px;
          position: relative;
          bottom: 2px;
          cursor: pointer;
        }
  
        span {
          position: relative;
          bottom: 7px;
        }
      }
      .delete {
        background-color: #EAF1F7;
        border-radius: 30px;
        height: 30px;
        width: 30px;
        float: right;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        margin-top: 0px;
        position: relative;
        bottom: 7px;
      }
      .inner-response {
        border-radius: 10px;
        border: 1px solid #EBEEF3;
        margin: 15px;
        padding: 20px 15px;
        overflow: scroll;
      }
    }
    .inner {
      border-radius: 5px;
      background-color: #FFFFFF;
      box-shadow: 0 2px 4px 0 #D7E0E7;
      font-size: 12px;
      table {
        margin: 0px;
      }
      th, td {
        padding: 15px 30px;
      }
      h5 {
        background-color: rgba(234,241,247,0.4);
        font-size: 12px;
        padding: 30px 30px;
        margin: 0px;
      }
    }
  }
  
  